<!-- 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buy your favourite products here:</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <h1>Flipkart</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   
    <img src="C:\Users\tushar.garg\Desktop\flipkart.png"  width="100" height="100">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="Orders" href="flipkart/add">Shopping Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="flipkart/product">My Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="flipkart/add">Add Product</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link " href="flipkart/add_user"> Register </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="flipkart/login_user"> Login </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>


 


 -->


<html lang="en">
<head>
  <title>Online Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #b81a3c;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Flipkart</h1>      
    <p>Online Store for your daily products </p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWyjJZA7TKURjIqgTSRMCAXZekAwFQ8EkAR1WjOON7&s">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="flipkart/product">Home</a></li>
        
        <li><a href="flipkart/add">Add to Cart</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="flipkart/add_user"><span class=""></span> Register</a></li>
        <li><a href="flipkart/product"><span class=""></span> Cart</a></li>
        <li><a href="flipkart/login"><span class=""></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Flat 50% Off</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtaPRnmNQdkAJwCPopnJfCs8iIbBwAYKNIhBU2aT_h&s" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy shoes here</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Thursday deal</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfsNdsGZSMo8yepPwNfJVfqPNw2CJkWM1LhLtgsplk&s" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 5 mobiles and get offer! </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Clothes</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJEA6eb1eVvVAC1p1yqqUtIL3Sy8Ibv6KsdNej3-MOZ4_SW2H9QYJBU_ljNDtHOV7JWwU&usqp=CAU" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy Branded clothes here</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Stationary</div>
        <div class="panel-body"><img src="https://media.gettyimages.com/id/802352810/photo/top-view-of-a-large-group-of-school-or-office-supplies-on-wooden-table.jpg?s=612x612&w=gi&k=20&c=ADCobOWMlIJalCHffUF_fERuo5AZ-EeDW-lwDw-grX8=" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy your stationary products here </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Grocery</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO8iuODs4xHZKO-xxtmf9_iTkry-S2cx6NEMX_pXJg&s" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy Grocery from here</div>
      </div>
    </div>
    
</div><br><br>

<footer class="container-fluid text-center">
  <p>Online Store</p>  
  <form class="form-inline">Get Offers:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>
</body>
</html>

